* {
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#title-bar {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#title-bar img {
  width: 20%;
  margin-bottom: 30px;
}

#title-bar h1 {
  text-transform: uppercase; /* or lowercase */
  border: 5px solid black;
  letter-spacing: 2px;
  margin: auto;
  text-decoration: underline;
  display: inline;
  font-weight: bold;
  font-size: 30px; 
  opacity: 0.8;
}

#start-screen {
  background: white;
  padding: 50px;
  width: 60%;
  height: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 200px;
}

#quiz {
  background: white;
  padding: 20px;
  width: 60%;
  overflow: auto;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 200px;
}

#end-screen {
  margin-top: 10px;
  margin-bottom: 15px;
}

#character-name {
  color:#001e4d;
}

#start-screen h2 {
  color: #001e4d;
  height: 50px;
  margin-bottom: 20px;
}

#question {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 50px;
  color: #001e4d;
}

#answer-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background: #001e4d;
  color: #fff;
}

.start-btn, .restart-btn {
  background: #fff;
  color: #001e4d;
  font-weight: 500;
  width: 20%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.start-btn:hover, .restart-btn:hover {
  background: #001e4d;
  color: #fff;
}